// File CSS content
.content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: darken($colorLight,2);
    height: 100%;
    width: 100%;
}
.content__block {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    z-index: 1000;
    margin: auto;
    height: 75%;
    width: 60%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($colorLight,.9);
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba($colorDark, .09);
    transition: all .2S ease-out;
    @media only screen and (max-width:$smallScreen) {
        height: 75%;
    }
    @media only screen and (min-width:$smallScreen + 1) and (max-width:$mediumScreen) {
        height: 75%;
    }
    @media only screen and (max-width:$mediumScreen) {
        width: 90%;
        transition: all .2S ease-in;
    }
}