// File CSS contact
.contact {
    width: 100%;
    display: table;

    &__link {
        text-decoration: none;
    }

    &__item {
        display: table-cell;
        width: 33%;
        text-align: center;
    }

    &__icon {
        font-size: 6em;
        transition: transform .1s ease-in-out, opacity .2s ease-out;
        &:hover {
            opacity: .5;
            transform: scale(1.05);
        }
    }
}
