// File CSS content
.content {
    display: table;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba($colorDark, .2), rgba($colorDark, .4));

    &__panel {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        padding: 0 20em;

        @media(max-width: $smallScreen) {
            padding: 1em;
        }
    }

    &__inner {
        max-width: 40em;
        margin: 0 auto;
        padding: 1em;
        border-radius: 1em;
        background: $colorLight;
    }
}
