// File CSS content
.content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: darken($colorLight,2);
    height: 100%;
    width: 100%;
    &__block {
        position: absolute;
        overflow: hidden;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba($colorLight,.9);
        border-radius: 10px;
        box-shadow: 0 0 50px 0 rgba($colorDark, .09);
        @include rem(height,450px);
        @include rem(width,600px);
        @include rem(padding,20px);
        @media only screen and (max-width:$mediumScreen) {
            height: 75%;
            width: 90%;
            transition: all .2s ease-in;
        }
        &--intro {
            box-shadow: 0 0 50px 0 rgba($colorDark, .5);
            @include rem(width,300px);
            @include rem(height,120px);
        }
    }
}