// File CSS contact
.contact {
    width: 100%;
    overflow: hidden;
    &__item {
        width: 33.33%;
        text-align: center;
        a {
            text-decoration: none;
        }
        i {
            @include font-size(10);
            transition: opacity .5s ease-in;
            &:hover {
                opacity: .5;
            }
            @media only screen and (max-width:$smallScreen) {
                @include font-size(7);
            }
        }
    }
}