// File CSS nav
.nav {
    width: 100%;
    &__item {
        width: 25%;
        background: rgba($colorLight, 0);
        transition: all .2s ease-out;
        &:hover {
            box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.03);
            background: rgba(0, 0, 0, .015);
        }
        a {
            display: block;
            text-align: center;
            font-weight: 700;
            transition: transform .4s ease-out;
            @include rem(padding,10px);
            @include font-size(1.6);
            &:hover {
                transform: translateY(-5px);
            }
        }
        @media only screen and (max-width:$smallScreen) {
            display: none;
            width: auto;
            &--isVisible {
                display: block;
            }
        }
    }
    @media only screen and (max-width:$smallScreen) {
        display: none;
    }
}