// File CSS nav
.nav {
    display: table;
    width: 100%;
    &__item {
        display: table-cell;
        width: 33.33%;
        background: rgba($colorLight, 0);
        transition: background .2s ease-out;
        &:hover {
            background:rgba(0, 0, 0, .02);
        }
        a {
            display: block;
            text-align: center;
            font-weight: 700;
            padding: 5%;
            @include font-size(1.6);
            backface-visibility: hidden;
            perspective: 1000;
            transition: transform .4s ease-out;
            &:hover {
                transform: translateY(10%);
            }
        }
        @media only screen and (max-width:$smallScreen) {
            display: block;
            width: auto;
        }
    }
    &--isVisible {
        display: block;
    }
    @media only screen and (max-width:$smallScreen) {
        display: none;
    }
}