// File CSS picture
.picture {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.picture--intro {
    background-image: url('/images/vietnam3.jpg');
}