// File CSS picture
.picture {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.picture--about {
    background-image: url('/images/trail.jpg');
}
.picture--contact {
    background-image: url('/images/vietnam.jpg');
}
.picture--intro {
    background-image: url('/images/chine.jpg');
}
.picture--skills {
    background-image: url('/images/berlin.jpg');
}