/*// File CSS picture
.picture {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: darken($colorLight,2);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
.picture--about {
    background-image: url('/images/islande1.jpg');
}
.picture--skills {
    background-image: url('/images/vietnam3.jpg');
}
.picture--contact {
    background-image: url('/images/chine.jpg');
}*/