@font-face {
    font-family: "icon";
    src: url('../icon/icon.eot');
    src: url('../icon/icon.eot?#iefix') format('eot'),
        url('../icon/icon.woff') format('woff'),
        url('../icon/icon.ttf') format('truetype'),
        url('../icon/icon.svg#icon') format('svg');
}

%icon {
    font-family: "icon";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

@function icon-char($filename) {
    $char: "";

    @if $filename == email {
        $char: "\E001";
    }
    @if $filename == github {
        $char: "\E002";
    }
    @if $filename == twitter {
        $char: "\E003";
    }
    @if $filename == viadeo {
        $char: "\E004";
    }

    @return $char;
}

@mixin icon($filename, $insert: before) {
    &:#{$insert} {
        @extend %icon;
        content: icon-char($filename);
    }
}

.icon-email {
    @include icon(email);
}
.icon-github {
    @include icon(github);
}
.icon-twitter {
    @include icon(twitter);
}
.icon-viadeo {
    @include icon(viadeo);
}