// My own reset
@viewport {
   width: device-width;
   zoom: 1;
}

html {
    font-family: 'Roboto', sans-serif;
    color: $colorText;
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #333;
    font-size: 1.6em;
}

a {
    color: $colorText;
    transition: color .5s ease-out;
    &:hover {
        text-decoration: none;
        color: lighten($colorText, 20);
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
