// Responsive
$smallScreen:480px;
$mediumScreen:1024px;
$largeScreen:1368px;

// Color
$colorText:#000;
$eastBay:#394873;
$portGore:#1E2640;

// Themes
$blackHaze:#E9EDEC;
$heavyMetal:#292E2B;
$keppel:#45B29D;
$valencia:#DF4949;
$manatee:#8c919b;
$jaffa:#f29e3f;
$feijoa:#a8d485;
