// Main SCSS file

// Import normalize.css into my project
@import '../../bower_components/normalize.css/normalize.css';

// Import vars
@import 'vars';

// Import mixins
@import 'mixins/all';

// My own CSS

html {
    font-family: 'Open Sans', sans-serif;
    color: $colorText;
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    background-color: #333;
    height: 100%;
    width: 100%;
    @include font-size(1.4);
}

a {
    text-decoration: none;
    color: $colorText;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Import modules
@import 'modules/all';